[Unit]
Description=mango TV pad router (8BitDo Micro)
After=bluetooth.target
StartLimitIntervalSec=0

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/aman/.Xauthority
Environment=HOME=/home/aman
Environment=USER=aman
Environment=SUDO_USER=aman
ExecStartPre=-/bin/rm -f /home/aman/.cache/mango/mango-tv-pad.pid /home/aman/.cache/mango/mango-tv-pad-status.json
ExecStartPre=-/usr/bin/sudo -n /usr/bin/systemctl stop input-remapper
ExecStartPre=-/usr/bin/sudo -n /usr/bin/pkill -f input-remapper-reader-service
ExecStart=/usr/bin/sudo -n /home/aman/mango/scripts/m1-foundation/pad/run-mango-tv-pad.sh
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
